<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> This is Contact page</h1>
    <button type="button" class="btn btn-primary"><a href="#">Contact</a></button>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, eaque rem. Aliquid incidunt consectetur expedita optio repellat dolores itaque consequuntur ab eum enim, doloremque labore, recusandae assumenda aut temporibus quibusdam.</p>
</body>
</html>