<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<h1>Welcome to homepage</h1>
<h2>Welcome to homepage</h2>
<h3>Welcome to homepage</h3>
<h4>Welcome to homepage</h4>
<h5>Welcome to homepage</h5>
<h6>Welcome to homepage</h6>



</head>
<body>
<article>
    <p>Lorem ipsum dolor sit amet cnsectetur adipisicing elit. Veniam, repellat natus saepe consectetur id odio nulla fuga, labore illo qui accusantium. Quam nesciunt aperiam saepe quasi repudiandae soluta expedita pariatur.y</p>
</article>
<section>
    <h2>
        This is new 
        
    </h2>
</section>
<section>
<ol type="A"> 
    <li>Item 1 </li>
    <li>Item 2</li>
    <li>Item 3</li>
</ol>
</section>

<section>
<ul type="square">
    <li>Item 1 </li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>

</section>
<h3>Example of table</h3>
<table border="2px" width="70%" cellpadding="5px" cellspacing="5px">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>John</td>
            <td>Doe</td>
        </tr>
        <tr>
            <td>John</td>
            <td>Doe</td>
        </tr>
        <tr>
            <td>John</td>
            <td>Doe</td>
        </tr>
    </tbody>
    
</table>



</body>
</html>